<body>
<div class="background">
  <div class="background-overlay">
    <div class="header">
      <div class="logo-text cursor-pointer" routerLink="/">{{ LoginConstants.LOGO_TEXT }}</div>
    </div>
    @if (loading) {
      <div class="blur-bg"></div>
      <div class="card flex justify-content-center align-items-center h-screen w-screen spinner">
        <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
      </div>
    }
    <div class="form-container">
      <h1 class="form-heading">Forgot Password</h1>
      <p class="form-info">Enter your email to reset your password.</p>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="input-field mt-6">
          <p-floatLabel>
            <input
              pInputText
              id="email"
              class="transparent-input no-box-shadow"
              formControlName="email"
              type="email"
              required
            />
            <label for="email">Email</label>
          </p-floatLabel>
          @if (forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid) {
            <div class="error-message">Please enter a valid email address</div>
          }
        </div>
        <!-- Send OTP Button -->
        <div class="button-container flex justify-content-center my-4">
          <button
            pButton
            pRipple
            label="Send OTP"
            class="login-button no-box-shadow w-full"
            [disabled]="forgotPasswordForm.invalid"
          ></button>
        </div>
      </form>
      <div class="additional-options">
        Remember your password? <a routerLink="/login" class="login-link"><b>Login</b></a>
      </div>
    </div>
  </div>
</div>
</body>
