<body>
  <div class="background">
    <div class="background-overlay">
      <div class="header">
        <div class="logo-text">Codesage</div>
      </div>
      <p-toast />
      @if (loading) {
        <div class="blur-bg"></div>
          <div class="card flex justify-content-center align-items-center h-screen w-screen spinner">
            <p-progressSpinner ariaLabel="loading" />
          </div>
      }
      <div class="form-container">
        <h1 class="form-heading">Login to your account</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="input-field">
            <p-floatLabel>
              <input pInputText id="username" class="transparent-input no-box-shadow" formControlName="username" type="text" required />
              <label for="username">Username*</label>
            </p-floatLabel>
            @if (loginForm.get('username')?.touched && loginForm.get('username')?.invalid) {
              <div class="error-message">Please enter your username</div>
            }
          </div>
          <div class="input-field">
            <p-floatLabel>
              <input pInputText id="password" type="password" formControlName="password" class="transparent-input no-box-shadow" required />
              <label>Password*</label>
            </p-floatLabel>
            @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
              <div class="error-message">Please enter your password</div>
            }
          </div>
          <div class="button-container">
            <button pButton pRipple label="Login" class="login-button no-box-shadow" [disabled]="loginForm.invalid"></button>
          </div>
        </form>
        <div class="signup-link-container">
          Don’t have an account yet?
          <a routerLink="/signup" class="signup-link">
            <b>Signup</b>
          </a>
        </div>
        <div class="forgot-password-container">
          <a routerLink="/forgot-password" class="forgot-password-link">Forgot password?</a>
        </div>
      </div>
    </div>
  </div>
  </body>
