<body>
  <div class="background">
    <div class="home-background-overlay">
      <div class="container">
        <div class="w-auto h-auto mx-2 my-4">
          <h1>Login to your account</h1>
          <form>
            <div class="input-field my-4">
              <p-floatLabel>
                <input pInputText id="username" class="custom-input w-full" type="text" />
                <label for="username">Username</label>
              </p-floatLabel>
            </div>
            <div class="input-field my-4">
              <p-floatLabel>
                <input pInputText id="password" type="password" class="custom-input w-full" />
                <label>Password</label>
              </p-floatLabel>
            </div>
            <div class="flex justify-content-center my-4">
              <button pButton pRipple label="Login" class="custom-purple-button w-full"></button>
            </div>
          </form>
          <div class="card flex justify-content-center gap-3 custom-link">
            <a routerLink="/signup" class="custom-link-text">
              Don’t have an account yet? <b>Signup</b>
            </a>
          </div>
          <div class="flex justify-content-end my-4">
            <a routerLink="/forgot-password" class="forgot-password-link">Forgot password?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
