<body>
<div class="background">
  <div class="background-overlay">
    <div class="logo-text">Codesage</div>
    <div class="form-container">
      <h1 class="form-heading">Login to your account</h1>
      <form class="login-form">
        <div class="input-field">
          <p-floatLabel>
            <input pInputText id="username" class="transparent-input" type="text" />
            <label for="username">Username*</label>
          </p-floatLabel>
        </div>
        <div class="input-field">
          <p-floatLabel>
            <input pInputText id="password" type="password" class="transparent-input" />
            <label>Password*</label>
          </p-floatLabel>
        </div>
        <div class="button-container">
          <button pButton pRipple label="Login" class="login-button"></button>
        </div>
      </form>
      <div class="signup-link-container">
        <a routerLink="/signup" class="signup-link">
          Don’t have an account yet? <b>Signup</b>
        </a>
      </div>
      <div class="forgot-password-container">
        <a routerLink="/forgot-password" class="forgot-password-link">Forgot password?</a>
      </div>
    </div>
  </div>
</div>
</body>
