.signup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  max-width: 700px;
  width: 100%;
  background: transparent; /* Make the form background transparent */
  padding: 50px;
  border-radius: 10px;
}

label {
  color: white;
}

.logo-text {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 4vh;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 2vh;
  background: linear-gradient(to right, white, grey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.signup-form h2 {
  text-align: center;
  color: white; /* Make heading white */
  margin-bottom: 30px;
}

.p-grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.p-col-6 {
  flex: 0 0 50%;
  padding: 0 10px;
}

input {
  width: 100%;
  padding: 12px 10px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  color: white;
}

input:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: none;
}

.error-message {
  color: lightcoral;
  font-size: 0.875em;
  margin-top: 6px;
}

.signup-button {
  width: 100%;
  padding: 12px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:disabled {
    opacity: 1;

    &:hover{
      cursor: not-allowed;
    }
  }
}

.signup-button:hover {
  background-color: #f0f0f0;
}

.additional-options {
  text-align: center;
  color: white;
}

.signup-link {
  color: white;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}
