<body>
  <div class="background">
    <div class="background-overlay">
      <div class="header">
        <div class="logo-text">Codesage</div>
      </div>
      <p-toast />
      <div class="signup-container">
        <div class="signup-form">
          <h2>Create an account</h2>
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="p-grid">
              <div class="p-col-6">
                <p-floatLabel>
                  <input pInputText class="transparent-input" id="username" formControlName="username" required />
                  <label for="username">Username*</label>
                </p-floatLabel>
                @if (signupForm.get('username')?.touched && signupForm.get('username')?.invalid) {
                  <div class="error-message">Please enter your username</div>
                }
              </div>
              <div class="p-col-6">
                <p-floatLabel>
                  <input pInputText class="transparent-input" id="full-name" formControlName="fullName" required />
                  <label for="full-name">Full Name*</label>
                </p-floatLabel>
                @if (signupForm.get('fullName')?.touched && signupForm.get('fullName')?.invalid) {
                  <div class="error-message">Please enter your full name</div>
                }
              </div>
            </div>

            <div class="p-grid">
              <div class="p-col-6">
                <p-floatLabel>
                  <input pInputText class="transparent-input" type="password" id="password" formControlName="password" required />
                  <label for="password">Password*</label>
                </p-floatLabel>
                @if (signupForm.get('password')?.touched && signupForm.get('password')?.invalid) {
                  <div class="error-message">Please enter your password</div>
                }
              </div>
              <div class="p-col-6">
                <p-floatLabel>
                  <input pInputText
                         class="transparent-input"
                         type="password"
                         id="confirm-password"
                         formControlName="confirmPassword"
                         required />
                  <label for="confirm-password">Confirm Password*</label>
                </p-floatLabel>
                @if (signupForm.get('confirmPassword')?.touched && signupForm.get('confirmPassword')?.invalid) {
                  <div class="error-message">Please confirm your password</div>
                }
              </div>
            </div>

            <div class="p-grid">
              <div class="p-col-6">
                <p-floatLabel>
                  <input pInputText class="transparent-input" type="email" id="email" formControlName="email" required />
                  <label for="email">Email*</label>
                </p-floatLabel>
                @if (signupForm.get('email')?.touched && signupForm.get('email')?.invalid) {
                  <div class="error-message">Please enter a valid email</div>
                }
              </div>
              <div class="p-col-6">
                <p-floatLabel>
                  <input pInputText class="transparent-input" id="leetcode-id" formControlName="leetcodeId" required />
                  <label for="leetcode-id">LeetCode ID*</label>
                </p-floatLabel>
                @if (signupForm.get('leetcodeId')?.touched && signupForm.get('leetcodeId')?.invalid) {
                  <div class="error-message">Please enter your LeetCode ID</div>
                }
              </div>
            </div>

            <div class="p-grid">
              <div class="p-col-6">
                <p-floatLabel>
                  <input pInputText class="transparent-input" id="country" formControlName="country" required />
                  <label for="country">Country*</label>
                </p-floatLabel>
                @if (signupForm.get('country')?.touched && signupForm.get('country')?.invalid) {
                  <div class="error-message">Please enter your country</div>
                }
              </div>
              <div class="p-col-6">
                <p-floatLabel>
                  <input pInputText class="transparent-input" id="organization" formControlName="organization" required />
                  <label for="organization">Organization*</label>
                </p-floatLabel>
                @if (signupForm.get('organization')?.touched && signupForm.get('organization')?.invalid) {
                  <div class="error-message">Please enter your organization</div>
                }
              </div>
            </div>
            <button pButton pRipple
                    type="submit"
                    label="Signup"
                    class="signup-button no-box-shadow"
                    [disabled]="signupForm.invalid">
            </button>
          </form>
          <div class="additional-options">
            <p>Already have an account? <a routerLink="/login" class="login-link"><b>Login</b></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
