<body>
<div class="background">
  <div class="background-overlay">
    <app-header></app-header>
    @if (loading()) {
      <div class="blur-bg"></div>
      <div class="card flex justify-content-center align-items-center h-screen w-screen spinner">
        <p-progressSpinner ariaLabel="loading" />
      </div>
    }
    <div class="stats-container">
      <div class="upper-half flex justify-content-end align-items-center">
        <button
          (click)="onRefresh()"
          class="flex-column justify-content-center align-items-center p-2"
          aria-label="Refresh"
        >
          <i class="pi pi-refresh text-white font-semibold text-3xl"></i>
        </button>
      </div>
      <div class="lower-half flex">
        <div class="recent-submissions flex flex-1 justify-content-center align-items-center">
          <div class="recent-submissions-table flex-column justify-content-evenly align-items-center">
            <div class="submissions-table-heading p-2 m-2 font-bold flex justify-content-center align-items-center">Platform Stats</div>
            <div class="submissions-list flex-column justify-content-center align-items-center">
                <div class="question flex justify-content-between font-bold white-space-nowrap text-overflow-ellipsis min-w-full">
                    <div class="stat-name flex custom-active-color justify-content-center align-items-center">Active User (Last24Hours)</div>
                    <div class="stat-value flex justify-content-center align-items-center">{{ activeUsers() }}</div>
                </div>
                  <div class="question striped-background flex justify-content-between font-bold white-space-nowrap text-overflow-ellipsis min-w-full">
                    <div class="stat-name flex justify-content-center align-items-center">Total Questions</div>
                    <div class="stat-value flex justify-content-center align-items-center">{{ totalQuestions() }}</div>
                  </div>
                  <div class="question flex justify-content-between font-bold white-space-nowrap text-overflow-ellipsis min-w-full">
                    <div class="stat-name custom-green flex justify-content-center align-items-center">Easy Questions</div>
                    <div class="stat-value flex justify-content-center align-items-center">{{ easyQuestions() }}</div>
                  </div>
                  <div class="question flex striped-background justify-content-between font-bold white-space-nowrap text-overflow-ellipsis min-w-full">
                    <div class="stat-name flex custom-orange justify-content-center align-items-center">Medium Questions</div>
                    <div class="stat-value flex justify-content-center align-items-center">{{ mediumQuestions() }}</div>
                  </div>
                  <div class="question flex justify-content-between font-bold white-space-nowrap text-overflow-ellipsis min-w-full">
                    <div class="stat-name flex custom-red justify-content-center align-items-center">Hard Questions</div>
                    <div class="stat-value flex justify-content-center align-items-center">{{ hardQuestions() }}</div>
                  </div>
            </div>
          </div>
        </div>
        <div class="tags flex flex-1 justify-content-between align-items-center">
          <div class="topic-tags flex-column justify-content-evenly align-items-center">
            <div class="topic-tags-heading p-2 m-2 font-bold">Topic Tags</div>
            <div class="topic-tags-content">
              <div class="company-tag-cards flex-wrap overflow-y-scroll">
                @for(topic of Object.keys(topicStats()); track topic; let i = $index){
                  <div class="topic-tag-card inline-block p-2 m-1 rounded-full">
                    <span class="topic-tag-card-text" [ngClass]="{'striped-background': i % 2 === 1}">{{topic}}</span>
                    <span class="topic-tag-card-number">x{{topicStats()[topic]}}</span>
                  </div>
                } @empty {
                  <div class="no-topic-tags flex justify-content-center align-items-center h-full">
                    No data found
                  </div>
                }
              </div>
            </div>
          </div>
          <div class="company-tags flex-column justify-content-evenly align-items-center">
            <div class="company-tags-heading p-2 m-2 font-bold">Company Tags</div>
            <div class="company-tags-content">
              <div class="company-tag-cards flex-wrap overflow-y-scroll">
                @for(company of Object.keys(companyStats()); track company; let i = $index){
                  <div class="company-tag-card inline-block p-2 m-1 rounded-full">
                    <span class="company-tag-card-text" [ngClass]="{'striped-background': i % 2 === 1}">{{company}}</span>
                    <span class="company-tag-card-number">x{{companyStats()[company]}}</span>
                  </div>
                } @empty {
                  <div class="no-company-tags flex justify-content-center align-items-center h-full">
                    No data found
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
