<body>
<div class="background">
  <div class="home-background-overlay">
    <div class="header">
      <div class="title">{{ LandingPageConstants.TITLE }}</div>
      <div class="buttons">
        <button
          pButton
          pRipple
          type="button"
          label="{{ LandingPageConstants.LOGIN }}"
          class="p-button-rounded"
          routerLink="/login">
        </button>
        <button
          pButton
          pRipple
          type="button"
          label="{{ LandingPageConstants.SIGNUP }}"
          class="p-button-rounded"
          routerLink="/signup">
        </button>
      </div>
    </div>
    <div class="container">
      <div class="intro-text">
        <p class="intro-text-heading">{{ LandingPageConstants.INTRO_HEADING }}</p>
        <p class="intro-text-body">{{ LandingPageConstants.INTRO_BODY }}</p>
      </div>
    </div>
  </div>
</div>
</body>
