<body>
<div class="header">
  <div class="title">Codesage</div>
  <div class="buttons">
    <button pButton type="button" label="Login" class="p-button-rounded"></button>
    <button pButton type="button" label="Signup" class="p-button-rounded"></button>
  </div>
</div>
<div class="container">
  <div class="intro-text">
    <p class="intro-text-heading">Gearing up for technical interviews?</p>
    <p class="intro-text-body">Dive into our extensive collection of more than <strong>1500+ free company-specific</strong>
      DSA questions with detailed progress analytics, tailored to prepare you for your desired roles.</p>
  </div>
</div>
</body>
