<div class="header">
    <div class="logo-text">Codesage</div>
        <div class="right-header">
          <div class="navbar-options">
            @if(role==Role.ADMIN){
            <div class="dropdown">
            <div class="dropdown-button">Questions
              <i class="pi pi-angle-down"></i>
            </div>
            <div pRipple class="dropdown-content">
              <div class="dropdown-item" routerLink="/add-questions">
                <button pButton class="add-questions-btn no-box-shadow" type="button">
                  Add Questions
                </button>
              </div>
              <div class="dropdown-item">
                <button pButton class="remove-question-btn no-box-shadow" type="button">
                  Delete Question
                </button>
              </div>
            </div>
          </div>
          }
          @if(role=="user"){
          <div class="option">Questions</div>
          <div class="option">Progress</div>
          }
          @if(role==Role.ADMIN){
          <div class="option" routerLink="/platform">Platform</div>
          <div class="option" routerLink="/manage-users">Users</div>
          }
          </div>
        <p-avatar
          image="assets/asiyajavayant.png"
          styleClass="mr-2"
          size="large"
          shape="circle" routerLink="/profile"/>
        </div>
    </div>
<div class="separator"><hr></div>

