<div class="app-header">
  <div class="header flex-column align-items-center">
    <div class="upper-header flex justify-content-between align-items-center w-full">
      <div class="left-header flex">
        <div class="logo-text cursor-pointer" routerLink="/">{{ HeaderConstants.LOGO_TEXT }}</div>
      </div>
      <div class="right-header flex">
        <div class="navbar-options">
          <div class="option" routerLink="/questions">{{ HeaderConstants.QUESTIONS }}</div>
          @if(role() === Role.USER) {
            <div class="option" routerLink="/progress">{{ HeaderConstants.PROGRESS }}</div>
          }
          @if(role() === Role.ADMIN) {
            <div class="option" routerLink="/platform">{{ HeaderConstants.PLATFORM }}</div>
            <div class="option" routerLink="/users">{{ HeaderConstants.USERS }}</div>
          }
        </div>
        <div class="avatar-dropdown">
          <p-avatar image="{{ userAvatar() }}" styleClass="mr-2" size="large" shape="circle"></p-avatar>
          <div class="avatar-dropdown-content">
            <div class="dropdown-item" routerLink="/profile"><i class="pi pi-user mr-2"></i>{{ HeaderConstants.PROFILE }}</div>
            <div class="dropdown-item" (click)="onLogout()"><i class="pi pi-sign-out mr-2"></i>{{ HeaderConstants.LOGOUT }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="separator w-screen"><hr></div>
  </div>
</div>

