.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.separator hr {
  width: 96%;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  margin: 0;
}

.right-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.navbar-options {
  display: flex;
  padding-bottom: 10px;
  margin-right: 1vw;
  color: white;
  font-size: 2vh;
}

.navbar-options .option {
  cursor: pointer;
  padding: 0 1vw;
  transition: color 0.3s;
}

.navbar-options div:hover {
  color: lightgray;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  cursor: pointer;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  min-width: 9.5vw;
  z-index: 1;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  padding: 1.25vw 1vw;
  cursor: pointer;
  color: white;
  font-size: 1.85vh;
  text-align: left;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: lightgray;
  border-radius: 8px;
}
