<body>
  <div class="background">
    <div class="background-overlay">
      <p-toast />
      <app-header/>
      <div class="profile-header-container">
        <div class="profile-picture">
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
            styleClass="mr-2"
            size="xlarge"
            shape="circle" />
        </div>
        <div class="profile-edit">
          <button pButton type="text" id="edit">
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</body>

