.profile-header-container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 1vh auto 1vh;
}

.edit-profile-form {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  margin: 0 auto;
}

.profile-container {
  width: 100%;
}

.profile-picture {
  width: 50%;
  display: flex;
  align-items: center;
}

.profile-edit {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.full-profile-container {
  width: 55%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0, 0.8);
  border-radius: 30px;
  padding: 8px;
  margin: 1vh auto 1vh;
}

.edit-button {
  width: 20%;
  padding: 12px;
  background-color: white;
  color: black;
  font-size: 1vw;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-heading {
  width: 60%;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  border-radius: 50px;
  color: whitesmoke;
  font-size: 3vw;
  text-align: center;
  margin: 8vh auto 0;
  padding: 10px;
}


.edit-button:hover {
  background-color: #f0f0f0;
}

label {
  color: white;
  font-weight: bold;
}

.user-name, .user-email {
  color: white;
  margin: 0;
  font-size: 2vh;
  padding: 5px;
}

.user-email {
  color: darkgrey;
}

.p-grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.p-col-6 {
  flex: 0 0 50%;
  padding: 0 10px;
}

.transparent-input {
  width: 100%;
  padding: 12px 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: .3px solid rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  color: white;
}

input:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: none;
}

.profile-save {
  display: flex;
  justify-content: center;
  align-items: center;
}

.save-button {
  width: 30%;
  padding: 12px;
  background-color: white;
  color: black;
  font-size: 1vw;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.error-message {
  color: lightcoral;
  font-size: 0.875em;
  margin-top: 6px;
}

.profile-actions {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

:host::ng-deep .p-inputtext:disabled {
  color: white;
}

:host::ng-deep .p-confirm-dialog-reject, .p-confirm-dialog-accept {
  text-align: center;
}

:host::ng-deep .p-button-label {
  padding-left: 2px;
  padding-right: 2px;
  box-shadow: none;
  margin: 1px;
  color: black;
}
