<body>
  <div class="background">
    <div class="background-overlay">
    <app-header></app-header>
    <div class="heading">
      Delete Question
    </div>
      <div class="questions-table-container">
        <div class="questions-table-top">
          <div class="search-bar"></div>
          <div class="filters"></div>
        </div>
        <div class="column-headings"></div>
        <div class="question"></div>
        <div class="question"></div>
        <div class="question"></div>
        <div class="paginator"></div>
      </div>
    </div>
  </div>
</body>
