.heading {
  width: 25%;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  color: whitesmoke;
  font-size: 2.5em;
  text-align: center;
  margin: 5vh auto 1vh;
  padding: 10px;
}

.questions-table-container {
  background-color: rgba(255, 255, 255, 0.6);
  width: fit-content;
  height: 45%;
  max-width: 80%;
  min-width: 60%;
  margin: 5vh auto 2vh;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.questions-table-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  margin-bottom: 16px;
}

.questions-list {
  height: 420px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 10px;
}

.column-heading, .question-content {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.overflow-text {
  display: block;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.questions-list::-webkit-scrollbar {
  display: none;
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 30px;
    height: 32px;
    min-width: 35%;
    background: white;
    padding: 0.5rem 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.search-bar input[type="text"] {
  border: none;
  outline: none;
  font-size: 1rem;
  width: 100%;
  background-color: transparent;
}

:host::ng-deep .p-component.p-inputwrapper {
  padding: 5px;
  margin: 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
  border-radius: 30px;
}

:host::ng-deep .p-button-label {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: white;
}

.filters {
  width: 60%;
  display: flex;
  height: 2rem;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;

  > div {
    width: 25%; /* Fixed width for all filter components */
    height: 100%; /* Fixed height for all filter components */
  }

  ::ng-deep .p-dropdown {
    height: 100%; /* Match height with search bar */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

    .p-dropdown-label {
      display: flex;
      align-items: center;
    }
  }
}

.search-bar i {
  margin-left: 6px;
  margin-right: 6px;
}

.search-bar input[type="text"] {
  padding: 5px;
  color: black;
}

.icon-button {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  background: white;
  color: #333;
  border: none;
  padding: 0 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  }

  .button-icon {
    height: 20px;
    width: 20px;
    object-fit: contain;
  }

  label {
    cursor: pointer;
  }
}

.button-icon {
  width: 20px;
  height: 20px;
}

.column-headings {
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 1.2vw;
  padding: 10px;
  justify-content: space-between;
  margin: 10px auto 0px;
}

.column-heading-1, .column-heading-3 {
  min-width: 10%;
}

.column-heading-1-admin, .column-heading-3-admin, .column-heading-4 {
  min-width: 10%;
}

.column-heading-2 {
  min-width: 70%;
  flex-grow: 2;
}

.question-id, .question-difficulty {
  min-width: 10%;
}

.question-id-admin, .question-difficulty-admin, .action {
  min-width: 10%;
}

.question-title {
  min-width: 70%;
  flex-grow: 2;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.question {
  border-radius: 25px;
  height: 5vh;
  margin-bottom: 4px;
  background-color: #ffffff;
  font-family: monospace, sans-serif;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.question:hover {
  transform: translateY(-2px) scale(1.01);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
}

.action {
  display: inline-block;
  padding-top: 6px;
  background-color: transparent;
  padding-bottom: 6px;
}

.delete-icon {
  cursor: pointer;
  min-width: 15%;
  background-color: transparent;
  object-fit: cover;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.delete-icon:hover {
  transform: scale(1.1);
  background-color: transparent;
  // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.paginator {
  width: 45%;
  margin: 2vh auto 2vh;
  height: fit-content;
  //padding: 1vh 0
}

:host::ng-deep .p-paginator {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  padding: 0;
  margin-bottom: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

:host::ng-deep .p-element.p-paginator-last.p-paginator-element.p-link.ng-star-inserted {
  display: none;
}

:host::ng-deep .p-element.p-paginator-first.p-paginator-element.p-link.ng-star-inserted {
  display: none;
}

:host::ng-deep .p-button {
  padding: 15px;
}

:host::ng-deep .p-dialog-header {
  text-align: center;
}

:host::ng-deep .p-confirm-dialog-reject, .p-confirm-dialog-accept {
  text-align: center;
}

.upper-half {
  height: fit-content;
}

.question-title:hover {
  cursor: pointer;
}

.striped-background {
  background-color: #dfdfdf;
}

.question-difficulty {
  border-radius: 25px;
}

:host::ng-deep .p-button-label {
  padding: 5px;
  box-shadow: none;
  margin: 1px;
}

.question-difficulty-container {
  color: rgb(255, 255, 255);
  border-radius: 25px;
  height: 90%;
  width: 60%;
  padding: 10px;
}

.color-medium {
  color: rgb(255, 255, 255);
  border-radius: 25px;
  height: fit-content;
  width: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #c76d00;
}

.color-easy {
  color: rgb(255, 255, 255);
  border-radius: 25px;
  height: fit-content;
  width: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #3e8400;
}

.color-hard {
  color: rgb(255, 255, 255);
  border-radius: 25px;
  height: fit-content;
  width: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #b80000;
}

:host::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
  //color: white;
}

:host::ng-deep p-dialog .p-dialog-header {
  //background: black;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

:host::ng-deep .p-dialog {
  border-radius: 30px;
}

:host::ng-deep .p-dialog, .p-button-label {
  //background: #000000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

:host::ng-deep span.p-button-label {
  color: black;
}

:host::ng-deep .p-dialog-content:last-of-type {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
