@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Order */
@layer reset, primeng;

/* Reset CSS */
@layer reset {
  button,
  input {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    /* Add other reset styles as needed */
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3vh 2vw;
  height: 7.5vh;
}

.background {
  position: relative;
  background-image: url('/assets/background-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.home-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.logo-text {
  //position: absolute;
  //top: 10px;
  left: 20px;
  font-size: 4vh;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  //padding: 1vh;
  background: linear-gradient(to right, white, grey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.blur-bg {
  filter: blur(5px);
  pointer-events: none;
  z-index: 1000;
  -webkit-filter: blur(5px);
}

.spinner {
  z-index: 1001;
}

.no-box-shadow{
 box-shadow: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
