<div class="background">
  <div class="background-overlay">
    <div class="header">
      <div class="logo-text cursor-pointer" routerLink="/">{{ LoginConstants.LOGO_TEXT }}</div>
    </div>

    @if (isLoading) {
      <div class="blur-bg"></div>
      <div class="card flex justify-content-center align-items-center h-screen w-screen spinner">
        <p-progressSpinner ariaLabel="Loading"></p-progressSpinner>
      </div>
    }

    <div class="form-container">
      <h1 class="form-heading">Reset Password</h1>
      <p class="form-info">Create a new secure password for your account</p>

      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <!-- Password Field -->
        <div class="input-field mt-4">
          <p-floatLabel>
            <p-password
              id="password"
              formControlName="password"
              [toggleMask]="true"
              [style]="{ width: '100%' }"
              [feedback]="false"
              class="transparent-input no-box-shadow">
              required
            </p-password>
            <label for="password">New Password</label>
          </p-floatLabel>
          @if (getPasswordError()) {
            <small class="error-message block mt-1">{{ getPasswordError() }}</small>
          }
        </div>

        <!-- Confirm Password Field -->
        <div class="input-field mt-4">
          <p-floatLabel>
            <p-password
              id="confirmPassword"
              formControlName="confirmPassword"
              [feedback]="false"
              [toggleMask]="true"
              [style]="{ width: '100%' }"
              class="transparent-input no-box-shadow">
              required
            </p-password>
            <label for="confirmPassword">Confirm Password</label>
          </p-floatLabel>
          @if (passwordMismatch()) {
            <small class="error-message block mt-1">Passwords do not match</small>
          }
        </div>

        <!-- OTP Field -->
        <div class="otp-container flex justify-content-center flex-column align-items-center w-full">
          <div class="w-full max-w-20rem">
            <label class="block mb-2">Verification Code</label>
            <p-inputOtp
              [length]="6"
              formControlName="otp"
              class="w-full"
              [disabled]="isLoading"
              (onBlur)="resetPasswordForm.get('otp')?.markAsTouched()"
            />
            @if (getOtpError() && (resetPasswordForm.get('otp')?.value).length === 6) {
              <small class="error-message block mt-2">{{ getOtpError() }}</small>
            }
            <small class="otp-info block mt-4 text-center">
              Check your email for the 6-digit verification code
            </small>
          </div>
        </div>



        <!-- Submit Button -->
        <div class="button-container flex justify-content-center mt-4">
          <button
            pButton
            pRipple
            type="submit"
            [loading]="isLoading"
            [disabled]="resetPasswordForm.invalid"
            label="Reset Password"
            class="login-button no-box-shadow w-full">
          </button>
        </div>
      </form>

      <div class="additional-options mt-4">
        <p>
          Remember your password?
          <a routerLink="/login" class="login-link">
            <b>Login</b>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
